---
export const prerender = true;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url=/solicitar-demo/" />
    <link rel="canonical" href="/solicitar-demo/" />
    <title>Redirigiendo a solicitar demo | TransGest</title>
  </head>
  <body>
    <p>Redirigiendo a <a href="/solicitar-demo/">solicitar demo de TransGest</a>...</p>
  </body>
</html>
